.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
  padding: 60px 0 0;
}

@media screen and (max-width: 1279px) {
  .auth {
    margin: 0 100px;
  }
}

@media screen and (max-width: 1083px) {
  .auth {
    margin: 0 50px;
  }
}

@media screen and (max-width: 680px) {
  .auth {
    margin: 0 30px;
    padding: 40px 0 0;
  }
}