.menu__info {
  margin: 0 24px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 680px) {
  .menu__info {
    font-size: 14px;
    line-height: 1.21;
  }
}