.menu__mode_mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 12px 0 28px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 425px) {
  .menu__mode_mobile {
    display: flex;
  }
}